@charset "utf-8";

html{
	min-height: 100%;
}

body{
	margin: 0;
	min-width: 0;
	background: #F1F1F1;
	color: #313131;
	height: 100%;
	line-height: 1.8;
}


.news-post-block{
	margin: 30px auto 60px;
}

