@charset "utf-8";

.admin-nav{
	position: fixed;
	z-index: 601;
	top: 55px;
	width: 200px;
	height: calc(100% - 50px);
/* 	pointer-events: none; */
}



.admin-nav-back{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 100%;
	background-color: #099;
}

.admin-nav .admin-nav-back{
	z-index: -1;
	transition-timing-function: cubic-bezier(.62,.48,.33,1);
	transition-duration: .15s;
	transition-property: transform;
	-ms-transform: translate(0,0);
	transform: translate3d(0,0,0);
}

.admin-nav .admin-nav-scroll{
	width: 200px;
	transition-property: width;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.admin-nav .admin-nav-list{
	padding: 0;
	margin: 0
}



.admin-nav .admin-nav-list_item{
	position: relative;
	list-style: none;
	width: 100%;
	cursor: pointer;
	height: 50px;
}


.admin-nav .admin-nav-list_item:hover > ul > li{
	overflow: visible;
	top: -50px;
	left: 200px;
	height: 50px;
}

.admin-nav .admin-nav-list_item:hover{

}

.admin-nav .admin-nav-list_item a{
	display: block;
	width: 200px;
	height: 50px;
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	font-weight: normal;
	padding-left: 25px;
	padding-top: 11px;
	box-sizing: border-box;
	transition: 0.5s;
	background: #099;
}

.admin-nav .admin-nav-list_item ul{
	position: absolute;
	content: "";
	top: 0px;
	left: 200px;
}

.admin-nav .admin-nav-list_item ul li{
	overflow: hidden;
	height: 0;
	left: 200px;
	list-style: none;
	/* transition: 0.2s; */
}

.admin-nav .admin-nav-list_item ul li a{
	transition: 0.5s;
	background: #117373;
	font-size: 14px;
}

.admin-nav .admin-nav-list_item ul li a:hover{
	background:#138e8e;
}

.admin-nav .admin-nav-list_item:hover .nav-link{
	color: #363B40;
	background: #f1f1f1;
}

.admin-nav .active{
	background: #f1f1f1;
}