@charset "utf-8";

html{
	height: 100%;
}

body{
	margin: 0;
	padding: 0;
	min-width: 0;
	background: #F1F1F1;
	color: #5F5F5F;
	height: 100%;
	line-height: 1.8;
	letter-spacing: 0.05em;
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','Helvetica Neue', Roboto, Arial, sans-serif,'Noto Sans Japanese','Yu Gothic','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
}

ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}

p{
	color: #5F5F5F;
	margin: 0;
}

.cf::after{
  content: "";
  display: block;
  clear: both;
}

.content-outer{
	position: relative;
	min-height: 600px;
	margin-left: 200px;
	margin-top: 50px;
	margin-bottom: 100px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	color: #363B40;
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
	font-weight: 500;
}

.content-outer .content-main{
	margin-top: 20px;
	padding-right: 32px;
	padding-left: 32px;
	max-width: 1200px;
}

.content-outer .content-main h1{
	font-weight: 600;
}

table .fixed{
	table-layout: fixed;
}

input:focus{
	border: 1px solid #909090;
}

input::-webkit-input-placeholder {
	color: #ccc;
	font-weight: normal;
	font-size: 14px;
}
input.sample:-ms-input-placeholder {
	color: #ccc;
	font-weight: normal;
	font-size: 14px;
}
input.sample::-moz-placeholder {
	color: #ccc;
	font-weight: normal;
	font-size: 14px;
}

input:-internal-autofill-previewed, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected {background: #ffffff !important;}

.required-mark{
	font-size: 10px;
	padding: 0.4em 0.8em;
	color: #ffffff;
	background: #e05146;
	border-radius: 4px;
	margin-left: 10px;
	font-weight: normal;
}

h1{
	font-size: 28px;
}

a{
	text-decoration: none;
	color: #4D4D4D;
}

.hi-breadcrumbs{
	width: 100%;
	background: linear-gradient(90deg,#ffffff, #f1f1f1);
}

.hi-breadcrumbs .breadcrumbs{
	width: 100%;
	max-width: 1025px;
	margin: 0 auto;
	padding: 6px 0 6px 30px;
	font-size: 10px;
	color: #4D4D4D;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.hi-breadcrumbs .breadcrumbs i {
	font-size: 10px;
	margin: 0 8px;
}
.hi-breadcrumbs .breadcrumbs > span { }
.hi-breadcrumbs .breadcrumbs > span a:hover { color: #000 }
.hi-breadcrumbs .breadcrumbs > span > span br { display: none }
@media all and (max-width: 1300px){
	.hi-breadcrumbs .breadcrumbs {width:85%;}
	}
@media all and (max-width: 800px) {
	.hi-breadcrumbs .breadcrumbs {padding: 15px 16px;white-space: normal; }
}

.user-top{
	padding-top: 105px;
	height: 100%;
	width: 100%;
	overflow: auto;
	background: url("../images/user-bk-bubble.png");
	background-repeat: repeat-x;
	background-position: 0px 105px ;
	background-size: 55% auto;
	background-attachment: fixed;
	
}

.content-paper{
	background: #fff;
	box-shadow: 0px 1px 5px #d2d2d2;
	width: 80%;
	max-width: 1025px;
	margin: auto;
}

.paper-inner{
	width: 80%;
	max-width: 850px;
	margin: auto;
}

.paper-inner-single{
	padding: 80px 0;
}

/* ---- コンテンツcss ---- */
.paper-h1 {
	margin: auto;
	position: relative;
	display: inline-block;
	margin-bottom: 60px;
	text-align: center;
	width: 100%;
}

.paper-h1:before {
	content: '';
	position: absolute;
	bottom: -15px;
	display: inline-block;
	width: 60px;
	height: 5px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	background-color: #F0E00C;
}

/* ---- コンテンツフィルター ---- */
.radio02-input{
	display: none;
}
.radio02-input + label{
	padding-left: 25px;
	position:relative;
	margin-right: 20px;
}
.radio02-input + label::before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	border: 1px solid #999;
	border-radius: 50%;
}
.radio02-input:checked + label{
	color: #3faf36;
}
.radio02-input:checked + label::after{
	content: "";
	display: block;
	position: absolute;
	top: 3px;
	left: 3px;
	width: 11px;
	height: 11px;
	background: #3faf36;
	border-radius: 50%;
}

/* ---- コンテンツぺージャー ---- */
.content-pager{
	margin: 60px auto;
}

.pager .pagination {
	text-align: center;
	border-top: 3px solid #F0E00C;
	padding: 10px 0;
	font-size: 14px;
	color: #4D4D4D;
}

.pager .pagination li {
	display: inline;
	margin: 0 2px;
	padding: 0;
	display: inline-block;
	width: 35px;
	height: 35px;
	text-align: center;
	position: relative;
	border-radius: 10px;
}


.pager .pagination li a{
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	display:table;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
}

.pager .pagination li a span{
	display:table-cell;
	vertical-align:middle;
}

.pager .pagination li a:hover{
	background: #f1f1f1;
	border-radius: 50px;
}
.pager .pagination li a.active{
	background: #f0e00c;
	border-radius: 50px;
}


@media only screen and (max-width: 767px){
	.pager .pagination li{
		
	}

	.pager .pagination li.pre,
	.pager .pagination li.next{
		display: inline-block;
		width: 40%;
		height: 50px;
		text-align: center;
	}

	.pager .pagination li.pre a,
	.pager .pagination li.next a{
		width: 100%;
		text-align: center;
	}

	.pager .pagination li.pre span::after{
		content: "　前の10件へ";
	}

	.pager .pagination li.next span::before{
		content: "次の10件へ　";
	}
}

/* ---- コンテンツ記事 ---- */
.article-date{
	width: 100%;
	padding: 0 0 30px;
}

.article-date-data{
	float: right;
	font-size: 14px;
	color: #5F5F5F;
}

.article-column{
	text-align: center;
	width: 100%;
	margin: 30px auto 60px;
}

.article-column video{
	width: 97%;
	max-width: 680px;
	margin: auto;
	padding: 20px 0;
}

.article-column p{
	text-align: left;
	padding: 15px 0;
	line-height: 2;
}

.article-column img{
	width: 97%;
	max-width: 680px;
	margin: auto;
}

/* ---- バックボタン ---- */
.back-btn{
}

.back-btn a{
	font-size: 14px;
	color: #33b8d0;
	text-decoration-color: #33b8d0;
}

.back-btn a:hover{
	opacity: 0.8;
}
