@charset "utf-8";

html{
	min-height: 100%;
}

.footer-block{
	background: #ffffff;
	text-align: center;
	padding: 60px 0 100px;
	width: 100%;
	border-top: 1px solid #e2e2e2;
	box-shadow: -1px -1px 5px #e2e2e2;
	max-width: 1025px;
	margin: auto;
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #F9F9F9), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #F9F9F9),color-stop(.75, #F9F9F9), color-stop(.75, transparent),to(transparent));
	-webkit-background-size: 14px 14px;
}

.footer-jinjer-logo{
	margin: 30px auto;
}

.footer-jinjer-logo img{
	width: 120px;
}

.footer-copyright{
	font-family: 'Noto Sans Japanese', Helvetica, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
	color: #7E7E7E;
	font-size: 12px;
	margin: 20px auto 0;
	text-align: center;
}

.footer-neo-img{
	width: 100%;
	text-align: center;
	margin-top: 15px;
}

.footer-block ul {
	display: flex;
	width: 60%;
	max-width: 600px;
	margin: auto;
	font-size: 12px;
	color: #7E7E7E;
	/*justify-content: space-between;*/
}
.footer-block ul li {
	list-style-type: none;
	flex-grow: 1;
	text-align: center;
}

.footer-block ul li a{
	color: #717171;
}

.footer-block ul li:hover{
	opacity: 0.8;
}

.footer-block ul li + li {
	border-left: 1px solid #7E7E7E;
}

