@charset "utf-8";

html{
	min-height: 100%;
}

header{
	position: relative;
}

.page-header_index{
	position: fixed;
	width: 100%;
	z-index: 100;
}


.global-header{
	z-index: 900;
	top: 0;
	width: 100%;
	background-color:#272727;
	height: 55px;
}

.global-header-inner{
	width: 100%;
	max-width: 1025px;
	margin: auto;
	-ms-flex-direction: row;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-ms-flex-pack: start;
	justify-content: flex-start;
	text-align: center;
	position: relative;
}

#header-logo{
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #dadada;
	display: inline-block;
	margin: auto;
}

.global-header-inner_left img{
	width: 130px;
	margin-top: 8px;
}

.global-header-inner_right{
	position: absolute;
	text-align: right;
	width: 100%;
	max-width: 1025px;
	top: 0;

}

.global-header-inner_right a{
	text-decoration: none;
	color: #ffffff;
	font-size: 11px;
	line-height: 1;
	margin-top: 20px;
	display: inline-block;
}

.header-triangle{
	display: inline-block;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #fff;
	float: right ;
	margin-left: 10px;
	margin-top: 3px;
}

.logout-btn{
	width: 20px;
	vertical-align: middle;
	margin-left: 10px;
}

/* ---- メニュー ---- */
.global-menu{
	position: absolute;
	background: #ffffff;
	font-size: 13px;
	color: #272727;
	height: 50px;
	top: 55px;
	width: 100%;
	box-shadow: 0px 2px 5px #e4e4e4;
}

ul.topnav {
	overflow: hidden;
	margin: auto;
	padding: 0;
	list-style-type: none;
	width: 100%;
	max-width: 1025px;
}

ul.topnav > li{
	width: 105px;
	float: left;
}

ul.topnav li.right{
	float: right;
	width: auto;
}

ul.topnav ul.right-flex{
	display: flex;
	list-style: none;
	padding-right: 10px;
}

ul.topnav li a {
	display: block;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	color: #272727;
}

ul.topnav li.right a.information{
	color:#fff;
	font-weight: bold;
	background: #5CB055;
	padding: 0.3em 1.8em;
	border-radius: 50px;
	margin-top: 9px;
	display: inline-block;
}

ul.topnav li.right a.servicepage{
	color: #5CB055;
	font-weight: bold;
}

ul.topnav li.right a.servicepage img{
	width: 11px;
	padding: 3px;
}


ul.topnav li a:hover:not(.active) {
	background-color: #F1F1F1;
}

#hp:hover{
	background-color: #ffffff;
	opacity: 0.8;
}

ul.topnav li a.active {
	background-color: #F0E00C;
	font-weight: bold;
	box-shadow: 0px 2px 5px #e4e4e4;
}

ul.topnav li.right a.information:hover{
	background:#89d084;
}

@media screen and (max-width: 480px) {
	ul.topnav li.right, ul.topnav li {
		float: none;
	}
}