@charset "utf-8";

html{
	height: 100%;
}

body{
	margin: 0;
	padding: 0;
	min-width: 0;
	background: #F1F1F1;
	color: #5F5F5F;
	height: 100%;
	line-height: 1.8;
	letter-spacing: 0.05em;
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','Helvetica Neue', Roboto, Arial, sans-serif,'Noto Sans Japanese','Yu Gothic','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
}

ul,li{
	margin: 0;
	padding: 0;
}

p{
	color: #5F5F5F;
}

.cf::after{
  content: "";
  display: block;
  clear: both;
}

.content-outer{
	position: relative;
	min-height: 600px;
	margin-left: 200px;
	margin-top: 50px;
	margin-bottom: 100px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	color: #363B40;
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
	font-weight: 500;
}

.content-outer .content-main{
	margin-top: 20px;
	padding-right: 32px;
	padding-left: 32px;
	max-width: 1200px;
}

.content-outer .content-main h1{
	font-weight: 600;
}

table .fixed{
	table-layout: fixed;
}

input:focus{
	border: 1px solid #909090;
}

input::-webkit-input-placeholder {
	color: #ccc;
	font-weight: normal;
}
input.sample:-ms-input-placeholder {
	color: #ccc;
	font-weight: normal;
}
input.sample::-moz-placeholder {
	color: #ccc;
	font-weight: normal;
}

input:-internal-autofill-previewed, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected {background: #ffffff !important;}

.required-mark{
	font-size: 10px;
	padding: 0.4em 0.8em;
	color: #ffffff;
	background: #e05146;
	border-radius: 4px;
	margin-left: 10px;
	font-weight: normal;
}

h1{
	font-size: 28px;
}

a{
	text-decoration: none;
	color: #4D4D4D;
}

.hi-breadcrumbs{
	width: 100%;
	background: linear-gradient(90deg,#ffffff, #f1f1f1);
}

.hi-breadcrumbs .breadcrumbs{
	width: 100%;
	max-width: 1025px;
	margin: 0 auto;
	padding: 6px 0 6px 30px;
	font-size: 10px;
	color: #4D4D4D;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.hi-breadcrumbs .breadcrumbs i {
	font-size: 10px;
	margin: 0 8px;
}
.hi-breadcrumbs .breadcrumbs > span { }
.hi-breadcrumbs .breadcrumbs > span a:hover { color: #000 }
.hi-breadcrumbs .breadcrumbs > span > span br { display: none }
@media all and (max-width: 1300px){
	.hi-breadcrumbs .breadcrumbs {width:85%;}
	}
@media all and (max-width: 800px) {
	.hi-breadcrumbs .breadcrumbs {padding: 15px 16px;white-space: normal; }
}

.user-top{
	margin-top: 105px;
	height: 100%;
	width: 100%;
	overflow: auto;
	background: url("../images/user-bk-bubble.png");
	background-repeat: repeat-x;
	background-position: 0px 105px ;
	background-size: 55% auto;
	background-attachment: fixed;
	
}

.content-paper{
	background: #fff;
	box-shadow: 0px 1px 5px #d2d2d2;
	width: 80%;
	max-width: 1025px;
	margin: auto;
}

.paper-inner{
	width: 80%;
	max-width: 850px;
	margin: auto;
}

.paper-inner-single{
	padding: 80px 0;
}

/* ---- コンテンツcss ---- */
.paper-h1 {
	margin: auto;
	position: relative;
	display: inline-block;
	margin-bottom: 60px;
	text-align: center;
	width: 100%;
}

.paper-h1:before {
	content: '';
	position: absolute;
	bottom: -15px;
	display: inline-block;
	width: 60px;
	height: 5px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	background-color: #F0E00C;
}


