@charset "utf-8";

.error-block{
	width: 100%;
	padding: 100px 0;
	margin: auto;
	text-align: center;
}

.error-block p.warning{
	color: #ff5656;
	font-weight: bold;
}

.error-block p.warning span{
	font-size: 48px;
	text-shadow: 1px 1px 3px #d0d0d0;
}

.error-block .true-btn{
	display: inline-block;
	margin: auto;
	margin: 10px auto;
}